{% extends 'common_admin.html' %}
{% load static %}
{% block common %}
    <br>
    <br>

        <h1 style="color: white;font-size: 50px;font-family: 'Harlow Solid Italic';text-align: center"> Welcome to Cars for you</h1>

    <br>
<table align="center">


<tr>
    <th>
        <h1 style="color: whitesmoke;font-size: 30px;font-family: David;text-align: center"> <b>Welcome to Admin</b> </h1>
        <h2 style="color: cyan;font-size: 30px;font-family: David;text-align: center">Now you can Manage all data</h2>
    </th>
</tr>
</table>



{% endblock %}