{% extends 'common_admin.html' %}
{% load static %}
{% block common %}

<div class="box">
    <table align="center" border="0">
        <tr>
    <th colspan="7">
        <h1 style="color: whitesmoke;font-size: 30px;font-family: David;text-align: center"> <b>Customer Details</b> </h1>
    </th>
</tr>
        <tr>
            <th>Customer Idno</th>
            <th width="200">Name</th>
            <th width="80">Gender</th>
            <th width="200">Age</th>
            <th width="100">Mobile</th>
            <th width="200">Email</th>
            <th width="100">Address</th>

        </tr>
    </table>
</div>
{% endblock %}