{% extends 'common_admin.html' %}
{% load static %}
{% block common %}

<div class="box">
    <table align="center" border="0">
        <tr>
    <th colspan="8">
        <h1 style="color: whitesmoke;font-size: 30px;font-family: David;text-align: center"> <b>Driver Details</b> </h1>
    </th>
</tr>
        <tr>
            <th>Driver Idno</th>
            <th width="200">Name</th>
            <th width="100">Licence Number</th>
            <th width="100">Age</th>
            <th width="80">Gender:</th>
            <th width="75">Exp(years)</th>
            <th width="100">Mobile</th>
            <th width="100">Email</th>
            <th width="100">Address</th>
            <th>photo</th>
            <th style="color:black;" width="100">Update</th>
            <th style="color:black;">Delete</th>
        </tr>
        {% for x in driver %}
                    <tr>
            <th>{{x.d_id}}</th>
            <th width="200">{{x.d_name}}</th>
            <th width="100">{{ x.d_licence }}</th>
            <th width="100">{{x.d_age}}</th>
            <th width="80">{{ x.d_gender }}</th>
            <th width="75">{{x.d_expireance}}</th>
            <th width="100">{{x.d_mobile}}</th>
            <th width="100">{{x.d_email}}</th>
            <th width="100">{{x.d_address}}</th>
            <th><img src="{{ x.d_image.url }}" width="150" height="100"></th>
             <th>
                <a href="#">
                <img src="{% static 'images/logs/update1.png' %}" width="50" height="50"></a>
           </th>
           <th><a href="#">
               <img src="{% static 'images/logs/delete4.png' %}" width="50" height="50"></a>
           </th>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}